<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xts.mapper.XtsWorkMapper">
    
    <resultMap type="XtsWork" id="XtsWorkResult">
        <result property="workId"    column="work_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="workName"    column="work_name"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectXtsWorkVo">
        select work_id, project_id, work_name, status, del_flag, create_by, create_time, update_by, update_time from xts_work
    </sql>

    <select id="selectXtsWorkList" parameterType="XtsWork" resultMap="XtsWorkResult">
        <include refid="selectXtsWorkVo"/>
        <where>  
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="workName != null  and workName != ''"> and work_name like concat('%', #{workName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectXtsWorkByWorkId" parameterType="Long" resultMap="XtsWorkResult">
        <include refid="selectXtsWorkVo"/>
        where work_id = #{workId}
    </select>
        
    <insert id="insertXtsWork" parameterType="XtsWork" useGeneratedKeys="true" keyProperty="workId">
        insert into xts_work
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="workName != null">work_name,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="workName != null">#{workName},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateXtsWork" parameterType="XtsWork">
        update xts_work
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="workName != null">work_name = #{workName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where work_id = #{workId}
    </update>

    <delete id="deleteXtsWorkByWorkId" parameterType="Long">
        delete from xts_work where work_id = #{workId}
    </delete>

    <delete id="deleteXtsWorkByWorkIds" parameterType="String">
        delete from xts_work where work_id in 
        <foreach item="workId" collection="array" open="(" separator="," close=")">
            #{workId}
        </foreach>
    </delete>

</mapper>